<div class="form-group">
    <label>{{localize "PF2E.ConsumableTypeLabel"}}</label>
    <select name="data.consumableType.value" data-dtype="String">
        {{#select data.consumableType.value}}
        <option value=""></option>
        {{#each consumableTypes as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

 <div class="form-group">
    <label>{{localize "PF2E.ConsumableConsumeLabel"}}</label>
    <input type="text" name="data.consume.value" value="{{data.consume.value}}" data-dtype="String" placeholder="{{localize "PF2E.FormulaPlaceholder"}}"/>
</div>

 <div class="form-group">
    <label>{{localize "PF2E.ConsumableAutoUseLabel"}}</label>
    <input type="checkbox" name="data.autoUse.value" data-dtype="Boolean" {{checked data.autoUse.value}}/>
</div>

 <div class="form-group">
    <label>{{localize "PF2E.ConsumableAutoDestroyLabel"}}</label>
    <input type="checkbox" name="data.autoDestroy.value" data-dtype="Boolean" {{checked data.autoDestroy.value}}/>
</div>

<div class="form-group-stacked">
    <label for="data.traits">
        {{localize "PF2E.TraitsLabel"}}
        <a class="trait-selector" data-options="consumableTraits"><i class="fas fa-edit"></i></a>
    </label>
    <ul class="traits-list pf-value pf-large">
        {{#each data.traits.value as |v k|}}
        <span class="tag {{k}}">{{v}}</span>
        {{/each}}
    </ul>
</div>