<form autocomplete="off" onsubmit="event.preventDefault();">
    <label>{{ localize "PF2E.TrickMagicItemPopup.Label" }}</label>
    {{#each skills as |skill|}}
    <div class="form-group"></div><button type="submit" name="{{skill.id}}" value="1"><i class="fas fa-dice-d20"></i>{{skill.localized}}</button></div>
    {{/each}}
</form>